<%= form_for(user) do |form| %>
  <%= form.hidden_field :action_name, value: params[:method] if params[:method].present? %>
  <% if user.errors.any? %>
    <% user.errors.full_messages.each do |message| %>
      <div class="alert alert-danger alert-dismissable">
        <i class="fa fa-ban"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b><%= message %></b>
      </div>
    <% end %>
  <% end %>
  <div class="box-body">
    <%= render 'users/form_fields_row1', form: form %>
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <%= form.label :company_name, "Company Name" %>
          <%= form.text_field :company_name, required: true, class: "form-control", placeholder: "Enter Customer Company Name" %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <%= form.label :country %>
          <%= form.country_select :country, {prompt: "Please select a country"}, {selected: get_selected_country(form.object), class: "form-control", required: true} %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <%= form.label :zip %>
          <%= form.text_field :zip, required: true, class: "form-control", placeholder: "Enter Customer Zip Code" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <%= form.label :street_name, "Street Name" %>
          <%= form.text_field :street_name, required: true, class: "form-control", placeholder: "Enter Customer Street Name" %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <%= form.label :btc_mining_address, "BTC Mining Address" %>
          <%= form.text_field :btc_mining_address, placeholder: "Enter Customer BTC Mining Address",class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <%= form.label :ltc_mining_address, "LTC Mining Address" %>
          <%= form.text_field :ltc_mining_address, placeholder: "Enter Customer LTC Mining Address",class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <%= form.label :bch_mining_address, "BCH Mining Address" %>
          <%= form.text_field :bch_mining_address, placeholder: "Enter Customer BCH Mining Address",class: "form-control" %>
        </div>
      </div>
      <% if current_user.admin? %>
        <div class="col-xs-4">
          <div class="form-group">
            <%= form.label :profit_share, "Profit Share" %>
            <%= form.number_field :profit_share, placeholder: "Enter Customer Profit Share amount", required: true, step: :any, class: "form-control" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="box-footer">
    <%= form.submit form_submit_text(form.object, 'Customer'), class: "btn btn-success margin-r-5" %>
    <%= link_to 'Back', back_user_form_url(params[:method], form.object), class: "btn btn-default" %>
  </div>
<% end %>
