<div class="row">
  <% if form.object.new_record? %>
    <div class="col-xs-4">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, required: true, class: "form-control", placeholder: "Enter Name" %>
      </div>
    </div>
    <%= render 'users/new_user_fields', f: form %>
  <% else %>
    <div class="col-xs-8">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, required: true, class: "form-control", placeholder: "Enter Name" %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
        <%= form.label :net_income, "Net Income" %>
        <%= form.number_field :net_income, step: :any, class: "form-control", placeholder: "Enter Net Income" %>
      </div>
    </div>
  <% end %>
</div>
