<%= form_tag user_add_workers_path, method: :post do |form| %>
<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= titleize(@user.name) %></h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <%= label_tag :worker_ids, "Workers" %>
          <%= select_tag "worker_ids[]", options_for_select(
                @workers.map { |w| [ truncate(w.title), w.id ] },
                @user.workers.pluck(:id)
              ), multiple: true, class: "form-control", required: true %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= label_tag :worker_count, "Workers Count" %><br/>
          <%= number_field_tag :worker_count, class: "form-control", required: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <%= submit_tag "Add Workers", class: "btn btn-success margin-r-5" %>
    <%= link_to 'Back', user_path(@user), class: "btn btn-default" %>
  </div>
</div>
<% end %>
