<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= titleize(@user.name) %></h3>
    <div class="box-tools pull-right">
      <%= link_to edit_user_path(@user, method: 'show'), class: "btn btn-box-tool show-actions" do %>
        <i class="fa fa-edit"></i>
      <% end %>
      <% if current_user.admin && not(@user.admin) %>
        <%= link_to @user, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-box-tool show-actions" do %>
          <i class="fa fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="box-body customer-show">
    <div class="row">
      <div class="col-xs-4">
        <strong><i class="fa fa-envelope margin-r-5"></i> Email</strong>
        <p class="text-muted"><%= @user.email %></p>
      </div>
      <div class="col-xs-4">
        <strong><i class="fa fa-sign-in margin-r-5"></i> Username</strong>
        <p class="text-muted"><%= @user.username %></p>
      </div>
      <div class="col-xs-4">
        <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>
        <p class="text-muted"><%= @user.address %></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-4">
        <strong><i class="fa fa-building margin-r-5"></i> Company</strong>
        <p class="text-muted"><%= @user.company_name %></p>
      </div>
      <div class="col-xs-4">
        <strong><i class="fa fa-percent margin-r-5"></i> Profit Share</strong>
        <p class="text-muted"><%= @user.profit_share %> %</p>
      </div>
      <div class="col-xs-4">
        <strong><i class="fa fa-th margin-r-5"></i> Mining Address</strong>
        <p class="text-muted"><%= @user.mining_address ? @user.mining_address : "No mining address" %></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-4">
        <strong><i class="fa fa-credit-card-alt margin-r-5"></i> BTC Net Income</strong>
        <p class="text-muted"><%= currency_symbol_code('BTC') %> <%= @user.btc_net_income %></p>
      </div>
      <div class="col-xs-4">
        <strong><i class="fa fa-credit-card-alt margin-r-5"></i> LTC Net Income</strong>
        <p class="text-muted"><%= currency_symbol_code('LTC') %> <%= @user.ltc_net_income %></p>
      </div>
      <div class="col-xs-4">
        <strong><i class="fa fa-credit-card-alt margin-r-5"></i> BCH Net Income</strong>
        <p class="text-muted"><%= currency_symbol_code('BCH') %> <%= @user.bch_net_income %></p>
      </div>
      <div class="col-xs-4">

      </div>
    </div>
  </div>

  <%= render partial: "users/user_workers" %>

  <div class="box-footer clearfix">
    <%= link_to "Back", back_user_show_url, class: "btn btn-default" %>
  </div>
</div>
