<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">Deposits</h3>
    <% if current_user.admin %>
      <div class="box-tools pull-right">
        <%= link_to "Add New Deposit", new_deposit_path, class: "btn btn-sm btn-success" %>
      </div>
    <% end %>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table no-margin">
        <thead>
          <tr>
            <th>Worker</th>
            <th>Deposit Income</th>
            <th>Date</th>
            <th>Bitcoin Price</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <%= no_data_message(@deposits) %>
          <% @deposits.each do |deposit| %>
            <tr>
            <td><%= link_to truncate(titleize(deposit.worker.title)), deposit.worker %></td>
              <td><i class="fa fa-btc"></i> <%= deposit.income.to_f %></td>
              <td><%= deposit.date.strftime('%d-%m-%Y') %></td>
              <td><i class="fa fa-euro"></i> <%= deposit.bitcoin_price.to_f %></td>
              <td>
                <%= link_to deposit do %>
                  <i class="fa fa-eye"></i>
                <% end %>
              </td>
              <% if current_user.admin %>
                <td>
                  <% if current_user.admin %>
                    <%= link_to deposit, method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box-footer">
    <div class="flickr_pagination">
      <%= will_paginate @deposits, container: false %>
    </div>
  </div>
</div>
