<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">Worker Groups</h3>
    <% if current_user.admin %>
      <div class="box-tools pull-right">
        <%= link_to "Add New Worker", new_worker_path, class: "btn btn-sm btn-success" %>
      </div>
    <% end %>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table no-margin">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th><i class="fa fa-bolt"></i> Cost</th>
            <th>Net Income</th>
            <% if current_user.admin? %>
              <th>Total Workers</th>
              <th>Workers In Use</th>
            <% else %>
              <th>Your Workers</th>
            <% end %>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <%= no_data_message(@workers) %>
          <% @workers.each do |worker| %>
            <tr>
              <td><%= truncate titleize(worker.title) %></td>
              <td><%= truncate worker.description %></td>
              <td><i class="fa fa-euro"></i> <%= worker.electricity_cost.to_f %></td>
              <td><i class="fa fa-btc"></i> <%= worker.net_income.to_f %></td>
              <% if current_user.admin? %>
                <td><%= worker.total_workers %></td>
                <td><%= worker.workers_in_use %></td>
              <% else %>
                <td><%= worker.get_customer_workers_count(current_user.id) %></td>
              <% end %>
              <td>
                <%= link_to worker do %>
                  <i class="fa fa-eye"></i>
                <% end %>
              </td>
              <% if current_user.admin %>
                <td>
                  <%= link_to edit_worker_path(worker, method: 'index') do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                </td>
                <td>
                  <% if current_user.admin %>
                    <%= link_to  worker, method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box-footer">
    <div class="flickr_pagination">
      <%= will_paginate @workers, container: false %>
    </div>
  </div>
</div>
