<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= truncate titleize(@worker.title) %></h3>
    <div class="box-tools pull-right">
      <%= link_to edit_worker_path(@worker, method: 'show'), class: "btn btn-box-tool show-actions" do %>
        <i class="fa fa-edit"></i>
      <% end %>
      <% if current_user.admin %>
        <%= link_to  @worker, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-box-tool show-actions" do %>
          <i class="fa fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="box-body customer-show">
    <div class="row">
      <div class="col-xs-4">
        <strong><i class="fa fa-align-left margin-r-5"></i> Description</strong>
        <p class="text-muted"><%= @worker.description %></p>
      </div>
      <div class="col-xs-4">
        <strong><i class="fa fa-desktop margin-r-5"></i>
          <% if current_user.admin? %>
            Total Workers
          <% else %>
            Your Workers
          <% end %>
        </strong>
        <p class="text-muted">
          <% if current_user.admin? %>
             <%= @worker.total_workers %>
          <% else %>
            <%= @worker.user_workers.for_user(current_user.id).worker_count %>
          <% end %>
        </p>
      </div>
      <div class="col-xs-4">
        <strong><i class="fa fa-money margin-r-5"></i> Currency</strong>
        <p class="text-muted"><%= @worker.currency.try(:name) %></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-4">
        <strong><i class="fa fa-bolt margin-r-5"></i> Electricity Cost</strong>
        <p class="text-muted"><i class="fa fa-euro"></i> <%= @worker.electricity_cost %></p>
      </div>
      <div class="col-xs-4">

        <strong><i class="fa fa-credit-card-alt margin-r-5"></i>
          <% if current_user.admin? %>
            Net Income
          <% else %>
            Your Net Income
          <% end %>
        </strong>
        <p class="text-muted"><%= currency_symbol(@worker.currency) %>
          <% if current_user.admin? %>
            <%= @worker.net_income %>
          <% else %>
            <%= @worker.get_user_net_income(current_user.id) %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <%= render partial: "workers/worker_users" %>

  <div class="box-footer clearfix">
    <%= link_to "Back", workers_path, class: "btn btn-default" %>
  </div>
</div>
