<div class="box box-success">
  <div class="box-header with-border">
    <i class="fa fa-bank"></i>
    <h3 class="box-title">Your Personal Wallet</h3>
  </div>
  <div class="box-body">
    <ul class="list-group list-group-unbordered">
      <li class="list-group-item bg-dark-grey">
        <div class="currency-icon-wallet">
          <%= currency_icon_balance('LTC') %>
        </div>
        <b class="wallet-label grey-color">LiteCoin Wallet</b>
        <span class="pull-right">
          <b class="grey-color font-21"><%= current_user.ltc_net_income %></b>
          <small class="grey-color">LTC</small>

          <% unless current_user.ltc_net_income.zero? || current_user.pending_transactions_exist?('LTC') %>
            <%= form_tag(withdraw_path, method: :post, remote: true, class: "display-inline") do %>
              <%= hidden_field_tag :amount, current_user.ltc_net_income %>
              <%= hidden_field_tag :currency, 'LTC' %>
              <%= submit_tag "Withdraw", class: "btn btn-danger btn-sm margin-left-10 ltc-withdraw" %>
            <% end %>
          <% end %>
        </span>
      </li>
      <li class="list-group-item bg-turqoise-blue">
        <div class="currency-icon-wallet">
          <%= image_tag("BTC-icon.png", class: "btc-icon custom-icon", alt: "Bitcoin") %>
        </div>
        <b class="wallet-label">BitCoin Wallet</b>
        <span class="pull-right">
          <b class="purple-color font-21"><%= current_user.btc_net_income %></b>
          <small>BTC</small>

          <% unless current_user.btc_net_income.zero? || current_user.pending_transactions_exist?('BTC') %>
            <%= form_tag(withdraw_path, method: :post, remote: true, class: "display-inline") do %>
              <%= hidden_field_tag :amount, current_user.btc_net_income %>
              <%= hidden_field_tag :currency, 'BTC' %>
              <%= submit_tag "Withdraw", class: "btn btn-danger btn-sm margin-left-10 btc-withdraw" %>
            <% end %>
          <% end %>
        </span>
      </li>
      <li class="list-group-item bg-light-orange">
        <div class="currency-icon-wallet">
          <%= currency_icon_balance('BCH') %>
        </div>
        <b class="wallet-label">BitCash Wallet</b>
        <span class="pull-right">
          <b class="purple-color font-21"><%= current_user.bch_net_income %></b>
          <small>BCH</small>

          <% unless current_user.bch_net_income.zero? || current_user.pending_transactions_exist?('BCH') %>
            <%= form_tag(withdraw_path, method: :post, remote: true, class: "display-inline") do %>
              <%= hidden_field_tag :amount, current_user.bch_net_income %>
              <%= hidden_field_tag :currency, 'BCH' %>
              <%= submit_tag "Withdraw", class: "btn btn-danger btn-sm margin-left-10 bch-withdraw" %>
            <% end %>
          <% end %>
        </span>
      </li>
    </ul>
  </div>
</div>
