<!DOCTYPE html>
<html>
  <head>
    <title>PhiltrickMiners AdminPanel</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="skin-green sidebar-mini <%= params[:controller].parameterize %> <%= action_name %>">
    <div class="wrapper">

      <%= render partial: 'layouts/admin_lte_2_header' %>

      <%= render partial: 'layouts/admin_lte_2_sidebar' %>

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            Philtrick
            <small>Admin Panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><%= link_to authenticated_root_path do %><i class="fa fa-dashboard"></i> Home<% end %></li>
            <li class="active"> <%= breadcrumb_action_name %></li>
          </ol>
        </section>

        <section class="content">
          <% if notice %>
            <div class="alert alert-success alert-dismissable">
              <i class="fa fa-check"></i>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <b><%= notice %></b>
            </div>
          <% end %>

          <% if alert %>
            <div class="alert alert-danger alert-dismissable">
              <i class="fa fa-ban"></i>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <b><%= alert %></b>
            </div>
          <% end %>
          <%= yield %>
        </section>
      </div>

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
        </div>
        <strong>Copyright © 2014 - 2018 <%= link_to "Philtrick Admin Panel", "#" %>.</strong> All rights reserved.
      </footer>

      <%= render partial: 'layouts/admin_lte_2_control_sidebar' %>

      <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>

    </div>
  </body>
</html>
